/.config/ranger/bookmarks
/.config/ranger/colorschemes/__pycache__/
/.emacs.d/.emacs.desktop
/.config/ranger/tagged
/.config/ranger/__pycache__/
/.config/fish/fish_history
/.config/fish/fishd.a-laptop
/.config/mpd/sticker.sql
/.config/mpd/database
/.config/mpd/log
/.config/mpd/pid
/.config/mpd/playlists
/.config/mpd/state
/.ncmpcpp/error.log
/.ncmpcpp/patterns.list
/.emacs.d/init/local-cfg.el
/.config/fish/local.fish
build
