" -*- mode: dactyl; eval: (rainbow-delimiters-mode -1) -*- "

set leader <SPC>
let mapleader = "\<Space>"

" J/K navigation "
nnoremap J 5j
vnoremap J 5j
nnoremap K 5k
vnoremap K 5k

" C-a/e navigation "
nnoremap <C-a> ^
vnoremap <C-a> ^
inoremap <C-a> <HOME>
nnoremap <C-e> $
vnoremap <C-e> $
inoremap <C-e> <END>

" subword navigation "
nnoremap w [w
nnoremap e ]w
nnoremap b ]b
vnoremap w [w
vnoremap e ]w
vnoremap b ]b

" subword modification"
nnoremap cw c[w
nnoremap ce c]w
nnoremap de d]w
nnoremap de d]w
nnoremap ve v]w
nnoremap ve v]w

nnoremap <Leader>lrr :action RenameElement<CR>
nnoremap <Leader>w0 :action CloseEditor<CR>
nnoremap <Leader>tt :action GotoTest<CR>
nnoremap <C-A-j> :action NextTab<CR>
nnoremap <C-A-k> :action PreviousTab<CR>
nnoremap <Leader>bi :action FileStructurePopup<CR>
nnoremap <Leader>/ :action SearchEverywhere<CR>
nnoremap <C-j> i<CR><ESC>
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>
nnoremap <C-A-a> :action MethodUp<CR>
nnoremap <C-A-e> :action MethodDown<CR>

" set handler "
sethandler <C-.> a:ide
sethandler <C-b> a:ide
sethandler <C-A-j> a:vim
sethandler <C-A-k> a:vim

" plugins "
set commentary
nnoremap <C-7> gc
vnoremap <C-7> gc

set exchange
nnoremap gx cx
vnoremap gx cx

set surround
