[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=i3Wm
Comment=i3 Window Manager
Exec=i3
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

