[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Keyboard Settings
Comment=Layout & Caps to Ctrl
Exec=fish -c keyboard_settings
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

